<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>PlanetA18</string>
	<key>CFBundleDisplayName</key>
	<string>PlanetA18</string>
	<key>CFBundleIdentifier</key>
	<string>com.mipelius.PlanetA18</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>pa18</string>
	<key>CFBundleExecutable</key>
	<string>PlanetA18</string>
</dict>
</plist>
