{
  "components": [
    {
      "class": "Background",
      "properties": {
        "color": $(COLOR),
        "texture": $(TEXTURE),
        "ratio": 0.5,
        "opacity": 0,
        "sortingLayer": 0
      }
    },
    {
      "class": "BackgroundBehaviour",
      "properties": {
        "area": $(AREA),
        "music": $(AUDIO_CLIP)
      }
    }
  ]
}
